/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* CSS variables */
:root {
  --header-height: 3rem;
  --title-color: #79389c;
  ;
  --text-color: #403A3A;
  --text-color-light: #707070;
  --container-color: #FAFAFA;
  --container-color-alt: #F0EFEF;
  --body-color: #FCFCFC;

  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* Basic css styles */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
ul,
pre {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.2s ease-in;
}

a:hover {
  color: var(--title-color);
}

img {
  width: 300px;
  height: auto;
}

section {
  padding: 1rem 2rem;
}

.section_title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  border-bottom: 1px solid var(--title-color);
}

.container {
  max-width: 1000px;
  box-shadow: 0 0px 4px 0px #00000096;
  margin: 2rem auto;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav_list {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.nav_link {
  padding: 10px;
  gap: 5px;
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.profile_container {
  display: flex;
}

.header_content {
  align-self: center;
  margin: 0px auto;
}

.header_title {
  color: var(--text-color);
  font-size: var(--header-height);
  font-weight: var(--font-semi-bold);
}

.contacts_list {
  margin-top: 25px;
}

.contacts_item {
  margin-bottom: 5px;
}

.main {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.skills_list {
  display: grid;
  grid-template-columns: repeat(2, minmax(126px, 200px));
  gap: 0px 10px;
  margin: 1rem 0px 0px;
}


.skills_item {
  position: relative;
  margin-bottom: 1rem;
}

.skills_list .skills_item::before {
  content: "▹";
  position: absolute;
  left: -20px;
  color: var(--text-color);
  line-height: 21px;
}

.courses_list {
  margin: 1rem 0px 0px;
}

.courses_item {
  position: relative;
  margin-bottom: 1rem;
}

.courses_list .courses_item::before {
  content: "▹";
  position: absolute;
  left: -20px;
  color: var(--text-color);
  line-height: 21px;
}

.courses_link {
  transition: all 0.2s ease-in;
}

.courses_link:hover {
  text-decoration: underline;
  text-decoration-color: var(--text-color);
  text-decoration-skip-ink: none;
}

.code_example {
  overflow: auto;
  font-size: 100%;
  line-height: 1.45;
  background-color: #eaedf0c9;
  font-family: monospace;
}

.languages_list {
  margin: 1rem 0px 0px;
}

.languages_item {
  margin-bottom: 1rem;
}

.education_list {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 10px;
  margin: 1rem 0px 0px;
}

.education_data {
  font-style: italic;
  font-size: var(--small-font-size);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #eaedf0c9;
}

.github_link {
  display: flex;
  align-items: center;
}

.github_link i {
  font-size: 1.5rem;
}